footer {
    display: flex;
    justify-content: center;
    background-color: $colorPrimario;
    padding: 25px;
    border-style: solid none none none;
    border-radius: 0px;
    border-width: 1.5px;
    font-family: 'IM Fell Great Primer', serif;
    background-image: linear-gradient(to bottom, rgb(189, 189, 69), rgb(19, 17, 17));
}
