main {
    background-color: $colorPrimario;
    padding: 170px;
    font-family: 'IM Fell Great Primer', serif;

    .carrousil{
        padding: 20px;
    }
    .imgNos{
        padding: 20px;
    }
  
    .artCompra{
        padding: 40px;
        color: $colorBlack
    }
  
    .ubiContacto{
        padding: 30px;
    }
  
    .listIndex{
        padding: 20px;
    }
    
    .artNos{
        padding: 20px;
    }
  
    .imgGuns{
        padding: 20px;
    }
  
  
    .formContact{
        padding: 30px;
    }
}